---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} ForFunHK. All rights reserved.
	<div class="links">
		<a href="/privacy">私隱政策</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
